:host{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 2rem;
   flex: 1;
}

.form{
   .fields {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
   }

   .buttons {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      gap: 0.5rem;
      margin: 0.5rem;
   }
}
