<mat-card [formGroup]="form" class="form">
   <mat-card-header>
      <mat-card-title>Connexion</mat-card-title>
   </mat-card-header>
   <mat-card-content class="fields">
      <mat-form-field appearance="fill">
         <mat-label>Login</mat-label>
         <input matInput formControlName="login" #loginInput (keypress)="keyPress($event)">
      </mat-form-field>
      <mat-form-field>
         <mat-label>Password</mat-label>
         <input matInput type="password" formControlName="password" (keypress)="keyPress($event)">
      </mat-form-field>
   </mat-card-content>
   <mat-card-actions class="buttons">
      <button mat-raised-button color="primary" routerLink="/home">
         <mat-icon>arrow_back</mat-icon>Retour</button>
      <button mat-raised-button color="accent" [disabled]="!form.valid" type="submit" (click)="submit()">Login</button>
   </mat-card-actions>
</mat-card>