<mat-toolbar color="primary">
   <span style="padding-left: 0.5rem;">UserAPI</span>
   <div class="spacer"></div>
   <button *ngIf="router.url != '/login'" mat-raised-button color="warn" (click)="navigate()">{{
      authService.isAuthenticated() ? "Logout" : "Login"}}</button>
</mat-toolbar>