<mat-card [formGroup]="form" class="form">
   <mat-card-content class="fields">
      <mat-form-field appearance="fill">
         <mat-label>Nom</mat-label>
         <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field appearance="fill">
         <mat-label>Description</mat-label>
         <textarea matInput formControlName="desc"></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill">
         <mat-label>Email</mat-label>
         <input matInput formControlName="email">
      </mat-form-field>
      <mat-form-field appearance="fill">
         <mat-label>Travail</mat-label>
         <input matInput formControlName="job">
      </mat-form-field>
   </mat-card-content>
   <mat-card-actions class="buttons">
      <button mat-raised-button color="primary" routerLink="/home">
         <mat-icon>arrow_back</mat-icon>Retour</button>
      <button mat-raised-button color="accent" [disabled]="!form.valid" (click)="submit()">Valider</button>
   </mat-card-actions>
</mat-card>