<mat-card>
   <mat-card-content>
      <p>Nom : <span>{{ user.name }}</span></p>
      <p>Description : <span>{{ user.desc }}</span></p>
      <p>Email : <span>{{ user.email }}</span></p>
      <p>Travail : <span>{{ user.job }}</span></p>
      <mat-divider></mat-divider>
   </mat-card-content>
   <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/home">Retour</button>
   </mat-card-actions>
</mat-card>