:host {
	display: block;
	padding: 2rem;
}

.filters {
	display: flex;
	padding-top: 20px;
	gap: 1rem;
	margin-right: 50px;
}

.filter {
	display: flex;
	align-items: center;
	justify-content: right;
	height: 100px !important;
}

.adddiv {
	display: flex;
	justify-content: right;
}

.addbutton {
	margin-top: 1rem;
}

.mat-mdc-row:not(.mat-mdc-header-row) {
	.actions {
		display: flex;
		flex-flow: row;
		gap: 0.5rem;
	}
}
