<div class="filter">
   <div *ngIf="isFilter" class="filters" [formGroup]="filterForm">
      <mat-form-field>
         <mat-label>Nom</mat-label>
         <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field>
         <mat-label>Travail</mat-label>
         <input matInput formControlName="job">
      </mat-form-field>
      <mat-form-field>
         <mat-label>Email</mat-label>
         <input matInput formControlName="email">
      </mat-form-field>
   </div>
   <button class="filter-button" mat-fab (click)="toggleFilter()" color="primary">
      <mat-icon>filter_list</mat-icon>
   </button>
</div>
<table mat-table [dataSource]="dataSource" matSort>
   <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
   </ng-container>

   <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
   </ng-container>

   <ng-container matColumnDef="job">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Travail </th>
      <td mat-cell *matCellDef="let element"> {{element.job}} </td>
   </ng-container>

   <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
   </ng-container>

   <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
         <div class="actions">
            <button mat-raised-button color="primary" routerLink="/details/{{element.id}}">Détails</button>
            <button mat-raised-button color="accent" routerLink="/edit/{{element.id}}"
               *ngIf="authService.isAuthenticated()">Editer</button>
            <button mat-raised-button color="warn" (click)="delete(element)"
               *ngIf="authService.isAuthenticated()">Supprimer</button>
         </div>
      </td>
   </ng-container>

   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
   <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

   <ng-container *ngIf="!isLoadingResults">
      <tr class="mat-row" *matNoDataRow>
         <td class="mat-cell" colspan="5">
            <h3 style="text-align: center; margin-top: 1rem;">
               Aucun utilisateur trouvé
            </h3>
         </td>
      </tr>
   </ng-container>


   <tr class="mat-row" *ngIf="isLoadingResults">
      <td class="mat-cell" colspan="5">
         Chargement des données
      </td>
   </tr>
</table>
<mat-paginator [length]="dataSource.data.length" [pageSize]="10"></mat-paginator>
<div class="adddiv">
   <button class="addbutton" mat-raised-button color="primary" (click)="addUser()">
      <mat-icon>add</mat-icon>Ajouter
   </button>
</div>